/*social media*/
.fa{
    padding: 10px;
    background-color: tomato;
    border-color: black 5px;
    border-radius: 50%;
    color: white;
    }

.fa:hover {
    opacity: 0.7;
    }
    
.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}
.fa-pinterest {
    background: #cb2027;
}

.fa-skype {
 background: #00aff0;
}

.fa-dribbble {
    background: #ea4c89;
}

.fa-stumbleupon {
    background: #eb4924;
}
.fa-flickr {
    background: #f40083;
}
  
.fa-google-plus{
    background-color: red;
}

.fa-behance{
    background-color:rgb(17, 154, 212);
}
.mouse{
    padding-top : 20px;
    margin-top: 20px;
    padding-bottom: 20px; 
  }

  .mouse {
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    40% {
      transform: translateY(-50px);
    }
    60% {
      transform: translateY(-30px);
    }
  }
    