/*social media*/
.fa{
    padding: 10px;
    background-color: tomato;
    border-color: black 5px;
    border-radius: 50%;
    color: white;
    }

.fa:hover {
    opacity: 0.7;
    }
    
.fa-facebook {
    background: #3B5998;
    }

    .fa-twitter {
        background: #55ACEE;
      }